---
import Container from "@components/Container.astro";
import "./hero.css";
import CustomImage from "@components/CustomImage.astro";
import type { HeroProps } from "@utils/types";
interface Props extends HeroProps {}
const { title, excerpt, image } = Astro.props;
---

<header class="two_column_hero full-width">
    <Container>
        <div class="two_column_hero__wrapper">
            <article class="two_column_hero__content">
                <h1>{title}</h1>
                <p>{excerpt}</p>
            </article>

            <div class="two_column_hero__image_wrapper">
                <CustomImage image={image} classlist="two_column_hero__image" size="large" eager={true} />
            </div>
        </div>
    </Container>
</header>
