---
import type { HeroBlock } from "@utils/payload/types";
interface Props extends HeroBlock {}

import Container from "@components/Container.astro";
import "./hero.css";
import CustomImage from "@components/CustomImage.astro";
const props = Astro.props;
---

<header class="overflow_hero">
    <CustomImage
        id="overflow_hero__image"
        image={props.cover}
        classlist="overflow_hero__image"
        size="large"
        eager={true}
    />
    <div class="overflow_hero__overlay"></div>
    <Container>
        <div class="overflow_hero__wrapper">
            <article class="overflow_hero__content">
                <h1 set:html={props.heading} />
                <p>{props.excerpt}</p>
                <a
                    href="#contact"
                    class="btn btn-md btn-primary"
                    style="margin-top: 0.825rem;">Let's Talk</a
                >
            </article>
        </div>
    </Container>
</header>
