---
type Testimonial = {
  content: string;
  title: string;
};
import Container from "@components/Container.astro";
import "./testimonial.css";

const { data } = Astro.props;
---

<section
  class="content_section testimonial-section"
  data-highlight={data.highlight}
  id={data.type.split(" ").join("-")}
  data-offscreen
>
  <Container>
    <div class="testimonial-container">
      <header class="content_section__header">
        <h2 class="testimonial-title">{data.title}</h2>
      </header>
      <div class="testimonial-grid">
        {
          data.expand.section_grid.map((testimonial: Testimonial) => (
            <div class="testimonial-card">
              <div class="testimonial-content">
                <slot set:html={testimonial.content} />
              </div>
              <div class="testimonial-author">
                <div class="author-info">
                  <h3>{testimonial.title}</h3>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</section>
