.hero {
    color: oklch(from var(--clr-primary-darker) calc(l + .90) c h);
    background-color: var(--clr-primary-darker);

    /* min-height: 80dvh; */
}

.hero h1 {
    color: oklch(from var(--clr-primary-darker) calc(l + .80) c calc(h + 180));
}


.hero__image {
    width: 100%;
    height: auto;
    /* max-height: 600px; */
    object-fit: contain;
    object-position: center;
}

@media (max-width: 768px) {
    .hero {
        padding-top: calc(var(--container-padding-block) * 2);
    }

    .hero__wrapper {
        display: grid;
        grid-template-rows: 40dvh 1fr;
        gap: var(--size-3);
    }

    .hero__content {
        align-self: center;
    }

}

@media (min-width: 768px) {
    .hero {
        padding-top: calc(var(--container-padding-block));
    }

    .hero__wrapper {
        grid-row: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 550px;
        align-items: center;

    }

}