.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding: var(--size-3) 0;
    background-color: var(--clr-neutral-50);
    transition: all 250ms var(--snappy-bounce-ease);
}

.sticky-nav[data-fixed-menu="true"] {
    position: fixed;
    top: 0;
    width: 100%;
    height: max-content;

    color: var(--clr-neutral-light);
    background-color: transparent;
}

.sticky-nav[data-is-active="true"] {
    padding: var(--size-2) 0;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-50);
}

.sticky-nav[data-is-active="true"] {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.sticky-nav[data-fixed-menu="true"][data-is-active="true"] .sticky-nav__menu,
.sticky-nav[data-fixed-menu="true"][data-is-active="false"] .sticky-nav__menu {
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-50);
    padding: var(--size-2);
}

.sticky-nav__logo-image {
    width: auto;
    max-height: 60px;
}

.sticky-nav__logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-1);
    width: fit-content;
}

.sticky-nav__actions {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    justify-self: end;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-1);

    width: fit-content;
}

.sticky-nav__wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: var(--size-2);
}

.sticky-nav__menu a {
    text-transform: capitalize;
    font-weight: var(--heading-large-weight);
}

.sticky-nav__link {
    text-decoration: none;
    text-transform: capitalize;

    color: currentColor;
    font-weight: var(--heading-large-weight);
}

.sticky-nav__menu {
    grid-column: 1 / -1;
    display: grid;
    grid-auto-rows: 52px;
    list-style: none;
}

.sticky-nav__menu li {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sticky-nav__menu[data-is-active="true"] {
    display: grid;
}

.sticky-nav__menu[data-is-active="false"] {
    display: none;
}

@media (min-width: 768px) {
    .sticky-nav {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100%;

        padding: var(--size-3) 0;
        background-color: var(--clr-neutral-50);
    }
    .sticky-nav[data-fixed-menu="true"][data-is-active="true"] .sticky-nav__menu {
        color: var(--clr-neutral-900);
        background-color: transparent;
        padding: var(--size-0);
    }
    .sticky-nav[data-fixed-menu="true"][data-is-active="false"] .sticky-nav__menu {
        color: var(--clr-neutral-50);
        background-color: transparent;
        padding: var(--size-0);
    }

    .sticky-nav__actions,
    .sticky-nav__logo {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: var(--size-1);
        width: fit-content;
    }

    .sticky-nav__logo-image {
        max-height: 60px;
        width: auto;
    }

    .sticky-nav__logo-text {
        font-weight: var(--heading-large-weight);
    }

    .sticky-nav__wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .sticky-nav__menu[data-is-active="true"],
    .sticky-nav__menu[data-is-active="false"] {
        grid-row: 1 / -1;
        grid-column: 2 / -1;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: var(--size-3);

        justify-self: end;
        width: fit-content;
    }

    .sticky-nav__link,
    .sticky-nav__logo {
        cursor: pointer;
    }

    .sticky-nav__link:hover,
    .sticky-nav__logo:hover {
        color: var(--clr-secondary-dark);
    }
}