---
interface Card {
    [key: string]: {
        [key: string]: any;
    };
}
import "./card.css";
import CustomImage from "@components/CustomImage.astro";
const { cards } = Astro.props;
---

<div class="gallery-card__grid">
    {
        cards.map((card: Card) => (
            <div>
                {card.expand.image && (
                    <CustomImage
                        eager={false}
                        image={card.expand.image}
                        size="medium"
                        classlist="gallery-card__image"
                    />
                )}

                <article>
                    <h3>{card.title}</h3>
                    <slot set:html={card.body} />
                </article>
            </div>
        ))
    }
</div>
