---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import { getImageUrl } from "@utils/pocketbase";
import "./nav.css";
import { inferRemoteSize, Picture } from "astro:assets";
import CustomImage from "@components/CustomImage.astro";
interface Props {
    [key: string]: {
        links: [string];
        logo: {
            [key: string]: string;
        };
        title: string;
    };
}

const { links, logo, title } = Astro.props.data;
const { width, height } = await inferRemoteSize(getImageUrl({
    collection: logo,
    filename: logo && logo.file,
}));
---

<header class="floating_nav" data-is-active="false">
    <Container>
        <div class="floating_nav__wrapper">
            <a href="/" class="floating_nav__logo" aria-label={title.split("|")[0].trim()}>
                {typeof logo === "object" ? (
                <CustomImage eager={true} image={logo} classlist="floating_nav__logo" size="small"/>
                ) : (<span>{title.split("|")[0].trim()}</span>)}
                <span>{title.split("|")[0].trim()}</span>
            </a>

            <menu id="floating_nav__menu" class="floating_nav__menu" data-is-active="false">
                {
                    links.map((item, index) => (
                        <li>
                            <a
                                href={
                                    index > 0
                                        ? `#${item.split(" ").join("-")}`
                                        : "/"
                                }
                                class="floating_nav__link"
                            >
                                {item}
                            </a>
                        </li>
                    ))
                }
            </menu>

            <button id="floating_nav__toggle" class="floating_nav__toggle button__icon" data-is-active="false" aria-label="toggle navigation">
                <Icon
                    name="mdi:menu"
                    aria-hidden="true"
                    focusable="false"
                    data-icon-type="hamburger"
                />
                <Icon
                    name="mdi:close"
                    aria-hidden="true"
                    focusable="false"
                    data-icon-type="close"
                />
            </button>
        </div>
    </Container>
</header>

<script>
const toggleAttributes = (elements: Array<HTMLElement>) => {
    elements.forEach((element) => {
        const currentAttribute = element.getAttribute("data-is-active");

        if(currentAttribute) {
            currentAttribute === "false"
                ? element.setAttribute("data-is-active", "true")
                : element.setAttribute("data-is-active", "false");
        }
    });
}

document.addEventListener("DOMContentLoaded", () => {
    const nav = document.querySelector(".floating_nav");
    const navToggle = document.querySelector(".floating_nav__toggle");
    const menu = document.querySelector(".floating_nav__menu");
    
    if (navToggle) {
        navToggle.addEventListener("click", function(this: HTMLElement) {
            toggleAttributes([menu as HTMLElement, navToggle as HTMLElement]);
        });
    }

    if (nav) {
        document.addEventListener("scroll", () => {
            const scrollPosition = window.scrollY;
            if (scrollPosition > nav.getBoundingClientRect().height * 0.5) {
                nav.setAttribute("data-is-active", "true");
            } else {
                nav.setAttribute("data-is-active", "false");
            }
        });
    }
});
</script>


