.floating_nav {
    position: fixed;
    inset: 0;
    z-index: 99;
    isolation: isolate;

    width: 100%;
    height: max-content;
    transition: all 250ms cubic-bezier(.45,-0.37,.57,1.31);
    background-color: transparent;
}

.floating_nav__wrapper {
    position: relative;
    isolation: isolate;
    transition: all 250ms ease;
    
    border: 1px solid var(--clr-neutral-50);
    /* padding: var(--size-4) var(--size-4); */
    border-radius: calc(infinity * 1px);
    box-shadow: 0 8px 32px 0 var(--clr-primary-darker);

    color: var(--clr-neutral-50);
    background-color: var(--clr-primary);
}
.floating_nav__logo {
    display: flex;
    flex-direction: row;
    gap: var(--size-2);
    align-items: center;
    justify-content: flex-start;

    text-decoration: none;
}
.floating_nav__logo span {
    color: var(--clr-neutral-900);
}
.floating_nav__logo img,
.floating_nav__logo picture{
    object-fit: contain;
    object-position: center;
    height: auto;
    max-width: 50px;
    /* max-height: 30px; */
    transition: all 250ms var(--snappy-bounce-ease);
}
.floating_nav__toggle {
    color: var(--clr-primary-dark);
}
.floating_nav__link {
    color: inherit;
    font-weight: 700;

    text-transform: capitalize;
    text-decoration: none;

    padding: var(--size-1) var(--size-3);

    border-radius: calc(infinity * 1px);
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;

}

.floating_nav__link:hover {
    color: var(--clr-neutral-50);
    background-color: var(--clr-secondary-dark);
    border-bottom-color: transparent;
}
.floating_nav__logo:hover span {
    color: var(--clr-secondary-dark);
}
@supports (backdrop-filter: blur(8px)) {
    .floating_nav[data-is-active="true"] .floating_nav__wrapper {
        backdrop-filter: blur(8px);
        background-color: var(--clr-neutral-100);
        border-color: var(--clr-neutral-800);
    }
}

.floating_nav[data-is-active="false"] .floating_nav__wrapper {
    color: var(--clr-neutral-50);
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.floating_nav[data-is-active="false"] .floating_nav__logo span {
    color: var(--clr-neutral-50);
}
.floating_nav[data-is-active="true"] .floating_nav__logo span {
    color: var(--clr-neutral-900);
}
.floating_nav[data-is-active="true"] .floating_nav__wrapper {
    color: var(--clr-neutral-900);
    border-color: var(--clr-neutral-800);
    box-shadow: var(--clr-primary-darker) 0px 10px 10px -10px;
}

/* .floating_nav[data-is-active="true"] .floating_nav__logo img {
    max-width: 70px;
} */

.floating_nav[data-is-active="true"],
.floating_nav[data-is-active="false"] {
    padding: var(--size-3) 0;
    background-color: transparent;
    box-shadow: none;
}

@media (max-width: 768px) {
    .floating_nav__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto;
        row-gap: 0;
        padding: var(--size-1) var(--size-3);
    }

    .floating_nav__logo,
    .floating_nav__toggle {
        grid-row: 1 / 2;
        height: max-content;
        align-self: center;
        margin: 0;

        background: none;
    }

    .floating_nav__logo {
        grid-column: 1 / 2;
        justify-self: start;
        width: max-content;
    }

    .floating_nav__logo img {
        width: 60px;
        height: auto;
    }

    .floating_nav__toggle {
        grid-column: 2 / -1;
        justify-self: end;
    }

    .floating_nav__menu {
        position: absolute;
        top: var(--size-2);
        left: 0;
        right: 0;
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--size-1);

        padding: var(--size-3);
        background-color: var(--clr-neutral-100);
        border-radius: var(--size-1);
        border: 1px solid var(--clr-neutral-200);
        box-shadow: var(--clr-primary-darker) 0px 10px 10px -10px;
    } 

    .floating_nav__link {
        display: block;
        padding: var(--size-3) var(--size-1);
        width: 100%;
    }

    .floating_nav__toggle[data-is-active="false"]>[data-icon-type="close"],
    .floating_nav__toggle[data-is-active="true"]>[data-icon-type="hamburger"] {
        display: none;
        color: var(--clr-neutral-50);
    }

    .floating_nav__toggle[data-is-active="true"]>[data-icon-type="close"],
    .floating_nav__toggle[data-is-active="false"]>[data-icon-type="hamburger"] {
        display: block;
        color: var(--clr-neutral-900);
    }

    .floating_nav__menu[data-is-active="false"] {
        display: none;
    }

    .floating_nav__menu[data-is-active="true"] {
        display: block;
    }
}

@media (min-width: 768px) {
    .floating_nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--size-2) var(--size-3);
        border: 1px solid var(--clr-neutral-50);
    }

    .floating_nav__menu,
    .floating_nav__menu[data-is-active="false"],
    .floating_nav__menu[data-is-active="true"] {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        list-style-type: none;
    }

    .floating_nav__toggle[data-is-active="false"],
    .floating_nav__toggle[data-is-active="true"] {
        display: none;
    }
}