---
import Container from "@components/Container.astro";
import "./hero.css";
import type { HeroProps } from "@utils/types";
interface Props extends HeroProps {}
const { title, excerpt } = Astro.props;
---

<header class="black_modern">
    <Container>
        <div class="black_modern__wrapper">
            <article class="black_modern__content">
                <h1>{title}</h1>
                <p>{excerpt}</p>
            </article>
        </div>
    </Container>
</header>
