---
interface Props {
    title: string;
    parent_site_title: string;
    parent_site_url: string;
}
import Container from "@components/Container.astro";
import "./tiny_footer.css";
import { Image } from "astro:assets";
const { title, parent_site_title, parent_site_url } = Astro.props;
---

<footer class="full-width footer">
    <Container>
        <div class="footer__content">
            <p>
                © {new Date().getFullYear()}
                {title.split("|")[0].trim()}. All Rights Reserved.
            </p>
            <p class="footer__logo">
                <Image
                    src="/yellow-pages-logo.webp"
                    alt="yellow pages logo"
                    width={512}
                    height={512}
                />
                <a
                    href={parent_site_url}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Designed by {parent_site_title}
                </a>
            </p>
        </div>
    </Container>
</footer>
