---
import { translateFooterItem } from '@utils/translations';

interface Props {
    title: string;
    company: string;
    url: string;
    country: string;
}

import Container from "@components/Container.astro";
import "./tiny_footer.css";
import { Image } from "astro:assets";
const { title, company, url, country } = Astro.props;
const copyright = translateFooterItem('copyright', country);
const designedByText = translateFooterItem('designed_by', country);
---

<footer class="full-width footer">
    <Container>
        <div class="footer__content">
            <p>
                &copy; {new Date().getFullYear()}
                {title.split("|")[0].trim()}. {copyright}
            </p>
            <p class="footer__logo">
                <Image
                    src="/yellow-pages-logo.webp"
                    alt="yellow pages logo"
                    width={512}
                    height={512}
                    widths={[60, 80, 100, 200]}
                    sizes={`(max-width: 768px) 60px, 80px, 100px, 200px`}
                    loading="lazy"
                    decoding="async"
                />
                <a href={url} target="_blank" rel="noopener noreferrer">
                    {designedByText} {company}
                </a>
            </p>
        </div>
    </Container>
</footer>
