.nav {
    position: fixed;
    inset: 0;
    z-index: 99;
    width: 100%;
    height: max-content;
    transition: all 250ms ease;
}

.nav__logo img {
    object-fit: contain;
    object-position: center;
    max-width: 150px;
    height: auto;
    transition: all 250ms var(--snappy-bounce-ease);
}

.nav__wrapper {
    padding: var(--size-3) 0;
}

.nav__link {
    color: inherit;
    font-weight: 700;

    text-transform: capitalize;
    text-decoration: none;

    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;

    padding: var(--size-1) var(--size-2);
}

.nav__link:hover {
    color: oklch(from var(--clr-primary-darker) calc(l + .40) c calc(h + 180));
    border-bottom-color: currentColor;
}


.nav[data-is-active="false"] {
    color: var(--clr-neutral-light);
    background-color: transparent;
}

.nav[data-is-active="true"] {
    color: var(--clr-neutral-light);
    background-color: var(--clr-primary-darker);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav[data-is-active="false"] .nav__wrapper {
    border-color: var(--clr-neutral-800);
}

.nav[data-is-active="true"] .nav__wrapper {
    border-color: transparent;
}

.nav[data-is-active="true"] .nav__logo img{
 max-width: 80px;
}

@media (max-width: 768px) {
    .nav__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto;
        row-gap: var(--size-2);
        padding: var(--size-3) 0;
    }

    .nav__logo,
    .nav__toggle {
        grid-row: 1 / 2;
    }

    .nav__logo {
        grid-column: 1 / 2;
        justify-self: start;
    }

    .nav__toggle {
        grid-column: 2 / -1;
        justify-self: end;
    }

    .nav__menu {
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--size-1);

        padding: var(--size-3);
        background-color: var(--clr-primary);
        border-radius: var(--size-1);
    }

    .nav__link {
        display: block;
        padding: var(--size-3) var(--size-1);
        width: 100%;
    }

    .nav__toggle[data-is-active="false"]>[data-icon-type="close"],
    .nav__toggle[data-is-active="true"]>[data-icon-type="hamburger"] {
        display: none;
    }

    .nav__toggle[data-is-active="true"]>[data-icon-type="close"],
    .nav__toggle[data-is-active="false"]>[data-icon-type="hamburger"] {
        display: block;
    }

    .nav__menu[data-is-active="false"] {
        display: none;
    }

    .nav__menu[data-is-active="true"] {
        display: block;
    }
}

@media (min-width: 768px) {
    .nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--size-3) 0;
        border-bottom: 2px solid transparent;
    }

    .nav__menu,
    .nav__menu[data-is-active="false"],
    .nav__menu[data-is-active="true"] {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        list-style-type: none;
    }

    .nav__toggle[data-is-active="false"],
    .nav__toggle[data-is-active="true"] {
        display: none;
    }
}