:root {
    --heading-large: 32px;
    --heading-large-weight: 700;

    --heading-medium: 24px;
    --heading-medium-weight: 700;

    --heading-small: 20px;
    --heading-small-weight: 700;

    --heading-xsmall: 18px;
    --heading-xsmall-weight: 700;

    --body-large: 16px;
    --body-large-weight: 400;

    --body-medium: 12px;
    --body-medium-weight: 400;

    --body-small: 10px;
    --body-small-weight: 400;

    --clr-primary: hsl(0, 70%, 26%);
    --clr-primary-lighter: hsl(0, 65%, 75%);
    --clr-primary-light: hsl(0, 60%, 60%);
    --clr-primary-dark: hsl(0, 50%, 35%);
    --clr-primary-darker: hsl(0, 45%, 25%);

    --clr-secondary: hsl(40, 70%, 26%);
    /* Similar brightness to primary */
    --clr-secondary-lighter: hsl(40, 65%, 75%);
    --clr-secondary-light: hsl(40, 60%, 60%);
    --clr-secondary-dark: hsl(40, 50%, 35%);
    --clr-secondary-darker: hsl(40, 45%, 25%);

    --clr-tertiary: hsl(220, 70%, 26%);
    /* Similar brightness to primary */
    --clr-tertiary-lighter: hsl(220, 65%, 75%);
    --clr-tertiary-light: hsl(220, 60%, 60%);
    --clr-tertiary-dark: hsl(220, 50%, 35%);
    --clr-tertiary-darker: hsl(220, 45%, 25%);

    /* Neutral Colors */
    --clr-neutral-light: hsl(0, 15%, 98%);
    --clr-neutral: hsl(0, 15%, 95%);
    --clr-neutral-dark: hsl(0, 15%, 25%);
    --clr-neutral-darker: hsl(0, 15%, 15%);

    /* Neutral Shades */
    --clr-neutral-50: hsl(0, 15%, 100%);
    --clr-neutral-100: hsl(0, 15%, 98%);
    --clr-neutral-200: hsl(0, 15%, 95%);
    --clr-neutral-300: hsl(0, 15%, 90%);
    --clr-neutral-400: hsl(0, 15%, 80%);
    --clr-neutral-500: hsl(0, 15%, 70%);
    --clr-neutral-600: hsl(0, 15%, 50%);
    --clr-neutral-700: hsl(0, 15%, 35%);
    --clr-neutral-800: hsl(0, 15%, 25%);
    --clr-neutral-900: hsl(0, 15%, 15%);


    --size-000: -.5rem;
    --size-00: -.25rem;
    --size-1: .25rem;
    --size-2: .5rem;
    --size-3: 1rem;
    --size-4: 1.25rem;
    --size-5: 1.5rem;
    --size-6: 1.75rem;
    --size-7: 2rem;
    --size-8: 3rem;
    --size-9: 4rem;
    --size-10: 5rem;
    --size-11: 7.5rem;
    --size-12: 10rem;
    --size-13: 15rem;
    --size-14: 20rem;
    --size-15: 30rem;

    --container-padding-block: var(--size-8);
    --container-padding-inline: var(--size-3);

    --snappy-bounce-ease: cubic-bezier(.6, -0.38, .37, 1.36);
}

@media (min-width: 768px) {
    :root {
        --container-padding-block: var(--size-9);
        --container-padding-inline: var(--size-4);
    }
}

@media (min-width: 1024px) {
    :root {
        --container-padding-block: var(--size-10);
        --container-padding-inline: var(--size-5);
    }
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    line-height: 1.5;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-50);
    min-height: 100dvh;
}

.container {
    /* scroll-snap-align: start center; */
    padding-block: var(--container-padding-block);
}

p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 65ch;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    line-height: 1.1;

    text-wrap: balance;
    max-width: 50ch;
}

h1 {
    font-size: var(--heading-large);
}

.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1100px;
    --breakout-max-width: 85ch;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.full-width {
    grid-column: full-width;
}

[data-highlight] {
    color: var(--clr-neutral-50);
    background-color: var(--clr-primary);
}

button {
    background-color: var(--clr-primary);
    color: white;
    border: none;
    border-radius: var(--size-1);
    padding: 0.5em 1em;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--clr-secondary);
}

[data-highlight] button:hover {
    color: var(--clr-neutral-900);
    background-color: var(--clr-secondary-light);
}

button:disabled {
    background-color: var(--clr-neutral-400);
    cursor: not-allowed;
}

button.button__icon {
    display: grid;
    place-content: center;

    aspect-ratio: 1 / 1;
}

button.button__icon>* {
    grid-area: 1 / -1 / 1 / -1;
    width: 100%;
    height: 100%;
    font-size: var(--icon-size, 1.2em);
}

a:not([class]) {
    text-decoration: none;
    color: var(--clr-neutral-900);
    font-weight: 500;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

[data-highlight] a:not([class]) {
    color: var(--clr-neutral-50);
}

a:not([class]):hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

[data-highlight] * a:not([class]):hover {
    color: var(--clr-secondary-lighter);
}

a:focus {
    outline: 2px dashed var(--clr-secondary);
    outline-offset: 2px;
}

a:not([class]):visited,
a:not([class]):active {
    color: var(--clr-tertiary);
}

[data-highlight] a:not([class]):visited,
[data-highlight] a:not([class]):active {
    color: var(--clr-tertiary-lighter);
}

button:not([class]),
a:not([class]) {
    text-decoration: none;
    color: inherit;
}


@media (prefers-reduced-motion: reduce) {
    :root {
        --snappy-bounce-ease: linear;
    }
}

@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
        [data-animate-on-scroll] {
            -webkit-animation: fade-in 1.2s var(--snappy-bounce-ease) both;
            animation: fade-in 1.2s var(--snappy-bounce-ease) both;
            animation-timeline: view();
            animation-range: 25vh 75vh;
        }
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}