---
import Container from "@components/Container.astro";
import "./hero.css";
import CustomImage from "@components/CustomImage.astro";
import type { HeroProps } from "@utils/types";
interface Props extends HeroProps {}

const { title, excerpt, image } = Astro.props;
---

<Container>
    <header class="two-square">
        <article class="two-square__content">
            <h1>{title}</h1>
            <p>{excerpt}</p>
        </article>
        <div class="two-square__image-wrapper">
            <CustomImage
                image={image}
                classlist="two-square__image"
                size="large"
                eager={true}
            />
        </div>
    </header>
</Container>

