---
import Container from "@components/Container.astro";
import "./vertical_cta.css";
import { Icon } from "astro-icon/components";
import CustomImage from "@components/CustomImage.astro";
import VerticalImages from "@components/Sections/VerticalImages/VerticalImages.astro";
const { data, core_values } = Astro.props;
---

<div class="vertical_cta" >
    <Container>
        <VerticalImages data={data} core_values={core_values} />
    </Container>
</div>
