---
import { Icon } from "astro-icon/components";
import "./card.css"
interface Card {
    title: string;
    content: string;
    icon_name: string;
}

const {cards} = Astro.props
---
<div class="three-column-card">
    <div class="three-column-card__image-wrapper three-column-card__image-wrapper--portrait"></div>
    <div class="three-column-card__content-wrapper"></div>
    <div class="three-column-card__image-wrapper three-column-card__image-wrapper--square"></div>
</div>