.alternating-card-grid {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: var(--size-4);
}

.alternating-card {
    display: grid;
    grid-template-rows: 200px 1fr;
    gap: var(--size-4);

    padding: var(--size-4);

    width: 100%;
}

.alternating-card ul {
    /* list-style: none; */
    padding: 0;
    margin: var(--size-2) var(--size-4);

}

.alternating-card:nth-child(even) {
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-200);
}
.alternating-card:nth-child(odd) {
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-50);
    border: 1px solid var(--clr-neutral-200);
}

/* [data-highlight="true"] .alternating-card:nth-child(even) {
    background-color: var(--clr-secondary);
}

[data-highlight="true"] .alternating-card:nth-child(odd) {
    background-color: var(--clr-tertiary);
}
[data-highlight="false"] .alternating-card:nth-child(even) {
    background-color: var(--clr-secondary);
}

[data-highlight="false"] .alternating-card:nth-child(odd) {
    background-color: var(--clr-tertiary);
} */

.alternating-card h3 {
    margin-bottom: var(--size-2);
}


.alternating-card__image-wrapper {
    width: 100%;
    height: 100%;

    background-color: hsl(var(--clr-secondary-hsl) / 0.15);
}

.alternating-card__image {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .alternating-card-grid {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: var(--size-4);
    }

    .alternating-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px;
        gap: var(--size-4);
        align-items: center;

        padding: var(--size-4);

    }

    .alternating-card>* {
        grid-row: 1 / -1;
    }

    .alternating-card:nth-child(even)>.alternating-card__image-wrapper {
        grid-column: 2 / -1;
        margin-right: calc(var(--size-8) * -4.5);
    }

    .alternating-card:nth-child(odd)>.alternating-card__image-wrapper {
        grid-column: 1 / 2;
    }
}