.overflow_hero {
    --col-count: 6;
    --max-height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(var(--col-count), calc(var(--max-height) / var(--col-count)));
}

.overflow_hero__content h1 {
    font-size: var(--heading-large);
    max-width: 50ch;
}

.overflow_hero__content {
    color: var(--clr-neutral-50);
}
.overflow_hero__overlay {
    grid-column:  1 / -1;
    grid-row: 1 / -1;
    z-index: 2;

    width: 100%;
    height: 100%;
    background: hsl(90 15% 15% / 0.65);
}

.overflow_hero__image {
    position: relative;
    isolation: isolate;

    width: 100%;
    height: 100%;

    grid-column: 1 / -1;
    grid-row: 1 / -1;

    z-index: -1;
}

.overflow_hero>.content-grid {
    grid-column: 1 / -1;
    grid-row: -4 / -1;

    /* width: 100%; */
    height: 100%;

    align-items: center;
    z-index: 3;
}

.overflow_hero__content {
    max-width: 65ch;
}
@media (min-width: 768px) {

}