---
import Container from "@components/Container.astro";
import "./hero.css";
import CustomImage from "@components/CustomImage.astro";
import type { HeroProps } from "@utils/types";
interface Props extends HeroProps {}
const { title, excerpt, image } = Astro.props;
---

<header class="overflow_hero">
    <CustomImage
        image={image}
        classlist="overflow_hero__image"
        size="large"
        eager={true}
    />
    <div class="overflow_hero__overlay"></div>
    <Container>
        <div class="overflow_hero__wrapper">
            <article class="overflow_hero__content">
                <h1>{title}</h1>
                <p>{excerpt}</p>
            </article>
        </div>
    </Container>
</header>

