---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import "./styles.css";

interface Props {
    title: string;
    excerpt: string;
    image: {
        [key: string]: string;
    };
}

const { title, excerpt } = Astro.props;

const cards = [
    {
        title: "Quality",
        icon: "mdi:coins",
    },
    {
        title: "Excellence",
        icon: "mdi:sparkles",
    },
    {
        title: "Reliability",
        icon: "mdi:magnet",
    },
];
---

<header class="gg-hero">
    <Container>
        <div class="gg-hero__content">
            <h1>{title}</h1>
            <p>{excerpt}</p>

            <div class="gg-hero__cards">
                {
                    cards.map((card) => (
                        <div class="gg-hero__card">
                            <div class="gg-hero__card__content">
                                <div class="gg-hero__icon-wrapper">
                                    <Icon
                                        name={card.icon}
                                        class="gg-hero__icon"
                                        aria-hidden="true"
                                        focusable="false"
                                    />
                                </div>
                                <span>{card.title}</span>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </Container>
</header>
