---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import "./styles.css";
import type { HeroProps } from "@utils/types";
interface Props extends HeroProps {}
const { title, excerpt, cards } = Astro.props;
---

<header class="gg-hero">
    <Container>
        <div class="gg-hero__content">
            <h1>{title}</h1>
            <p>{excerpt}</p>

            <div class="gg-hero__cards">
                {
                    cards?.map((card) => (
                        <div class="gg-hero__card">
                            <div class="gg-hero__card__content">
                                <div class="gg-hero__icon-wrapper">
                                    <Icon
                                        name={card.icon}
                                        class="gg-hero__icon"
                                        aria-hidden="true"
                                        focusable="false"
                                    />
                                </div>
                                <span>{card.title}</span>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </Container>
</header>


