.gg-hero {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 2rem 0;
    
    min-height: 100dvh;
    max-height: 700px;
    
    overflow: hidden;
    
    color: var(--clr-neutral-50);
    background: linear-gradient(180deg, var(--clr-primary) 0%, var(--clr-primary-dark) 100%);
}

.gg-hero::before,
.gg-hero::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;

    filter: blur(100px) opacity(0.7);
    animation: spin 10s var(--snappy-bounce-ease) infinite;
}

.gg-hero::after {
    top: 0;
    left: 100%;
    background: radial-gradient(
            at top right,
            transparent 0%,
            var(--clr-tertiary-dark) 50%,
            transparent 100%
    );
}

.gg-hero::before {
    top: 100%;
    left: 0;
    background: radial-gradient(
            at bottom left,
            transparent 0%,
            var(--clr-secondary-dark) 50%,
            transparent 100%
    );
}

.gg-hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
}

.gg-hero__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--size-2);

    width: 100%;
}

.gg-hero__card {
    position: relative;
    
    padding: var(--size-2) var(--size-3);
    width: 100%;
    
    border: 1px solid var(--clr-primary-dark);
    border-radius: 0.5em;
    
    background: hsl(40, 70%, 26%, 0.25);
    
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.gg-hero__card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg,
            transparent 0%,
            var(--clr-primary-lighter) 50%,
            transparent 100%);
    opacity: 0.2;
}

.gg-hero__card::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            var(--clr-primary-lighter) 0%,
            transparent 70%);
    filter: blur(20px);
    transform: translateY(-50%);
}

.gg-hero__card__content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.gg-hero__card__content span {
    font-weight: 500;
    color: var(--clr-neutral-50);
}

.gg-hero__icon-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gg-hero__icon {
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    color: var(--clr-primary-lighter);
}


@keyframes spin {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-0%, -0%) scale(2);
    }
}
/* 



.gg-hero__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: calc(var(--container-padding-block) * 2) 0;
    position: relative;
    z-index: 1;
}

.gg-hero__content>* {
    width:100%;
    text-align: center;
}

.gg-hero__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    color: var(--clr-neutral-50);
    max-width: 800px;
}

.gg-hero__content h1 {
    font-size: var(--heading-large);
    font-weight: 600;
    line-height: 1.2;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gg-hero__content p {
    color: var(--clr-neutral-50);
}

@media (max-width: 768px) {
    .gg-hero__content {
        text-align: center;
        align-items: center;
    }

    .gg-hero__content p {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .gg-hero__wrapper {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding: var(--container-padding-block) 0;
    }

    .gg-hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .gg-hero__content>* {
        width: max-content;
        text-align: center;
    }
} */