---
interface Card {
    [key: string]: {
        [key: string]: any;
    };
}
import "./basic.css";
import CustomImage from "@components/CustomImage.astro";
const { cards } = Astro.props;
---

<div class="basic_card">
    {
        cards.map((card: Card) => (
            <article data-animate-on-scroll>
                {card.expand.image && (
                    <div class="basic_card__image-wrapper">
                        <CustomImage eager={false} image={card.expand.image} size="medium" classlist="basic_card__image_component" />
                    </div>
                )}
                <div class="basic_card__content">
                    <h3>{card.title}</h3>
                    <slot set:html={card.content} />
                </div>
            </article>
        ))
    }
</div>
