---
interface Card {
    [key: string]: {
        [key: string]: any;
    };
}
import { Picture } from "astro:assets";
import "../Basic/basic.css";
import { getImageUrl } from "@utils/pocketbase";
const { cards } = Astro.props;
---

<div class="basic_card">
    {
        cards.map((card: Card) => (
            <article>
                {card.expand.image && (
                    <Picture
                        src={getImageUrl({
                            collection: card.expand.image,
                            filename: card.expand.image.file,
                        })}
                        alt={card.expand.image.title}
                        inferSize
                        formats={["avif", "webp"]}
                        widths={[350, 500]}
                        sizes={`(max-width: 1366px) 350px, 500px`}
                        quality={80}
                        class="basic_card__image_component"
                        loading="lazy"
                        decoding="async"
                    />
                )}
                <div>
                    <h3>{card.title}</h3>
                    <slot set:html={card.body} />
                </div>
            </article>
        ))
    }
</div>
