.blocky-card__image_component {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blocky-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--size-3);
    padding: 0;
}

.blocky-card article {
    --row-count: 6;
    display: grid;
    grid-template-columns: 0.825rem 1fr 0.825rem;
    grid-template-rows: repeat(var(--row-count), calc(380px /var(--row-count)));
    height: 400px;
}

.blocky-card__image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.blocky-card__content {
    display: grid;
    place-content: center;
    grid-column: 2 / -2;
    grid-row: 2 / 3;

    width: 100%;
    height: 100%;

    color: var(--clr-neutral-50);
    background-color: var(--clr-primary-darker);
}

.blocky-card__image_component {
    max-height: 400px;
}