.cta {
    padding: var(--container-padding-block) 0;
}
.cta__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-4);
    
    padding: var(--size-8) var(--size-8);
    border-radius: var(--size-4);
    border: 2px solid var(--clr-neutral-200);
}

.cta__content {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.cta__heading {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    justify-content: space-between;
}

.cta__heading h2 {
    font-size: var(--heading-medium);
}

.cta__heading p {
    font-size: var(--body-large);
    max-width: 65ch;
}

[data-highlight] .cta__heading h2 {
    color: var(--clr-neutral-50);
}

.cta__core_values,
.cta__core_values li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    font-weight: 700;
}

.cta__core_values {
    gap: var(--size-2);
    margin-bottom: var(--size-2);
}

.cta__core_values li {
    gap: var(--size-2);
    color: var(--clr-tertiary);
}

[data-highlight] .cta__core_values li {
    color: var(--clr-neutral-50);
}

.cta__image {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: var(--size-2);
}

.cta__image img,
.cta__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

@media (min-width: 768px) {
    .cta__wrapper {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .cta__image {
        min-height: 400px;
    }
}