---
import Container from "@components/Container.astro";
import "./cta.css"
import { Icon } from "astro-icon/components";

import CustomImage from "@components/CustomImage.astro";
import Cards from "@components/Cards/Cards.astro";
const { data } = Astro.props;
---
<div class="content_section" data-offscreen>
    <Container>
        <section class="small_cta">
            <h2 class="smal_cta__title">{data.title}</h2>
            <slot set:html={data.content} />
            <a href="#contact" class="cta__link btn btn-md btn-primary">Get in Touch</a>
        </section>
    </Container>
</div>