---
interface Card {
    title: string;
    content: any;
    expand: {
        image: {
        file: string;
        title: string;
        position: string;
        fit: string;
    }
    }
}
import "./card.css";
import CustomImage from "@components/CustomImage.astro";
const { cards } = Astro.props;
---
<div class="alternating-card">

    {cards.map((card: Card) => (
        <div class="alternating-card__content-wrapper">
            <h3>{card.title}</h3>
            <slot set:html={card.content}/>
        </div>

        <div class="alternating-card__image-wrapper">
                <CustomImage image={card.expand.image} eager={true} size="large" classlist="alternating-card__image"/>
        </div>
))}
</div>