---
import type { HeroBlock } from "@utils/payload/types";
interface Props extends HeroBlock {}

import "./hero.css";
import Container from "@components/Container.astro";
import CustomImage from "@components/CustomImage.astro";

const { heading, excerpt, cover } = Astro.props;
---

<header class="two_column_hero full-width">
    <Container>
        <div class="two_column_hero__wrapper">
            <article class="two_column_hero__content">
                <h1>{heading}</h1>
                <p>{excerpt}</p>
            </article>

            <div class="two_column_hero__image_wrapper">
                <CustomImage image={cover} classlist="two_column_hero__image" size="large" eager={true} />
            </div>
        </div>
    </Container>
</header>
